{% extends 'base.html' %}

{% block title %}
<title>Update task</title>
{% endblock %}

{% block body %}

<div class="card w-50 mx-auto">
  <div class="card-header">
    Update Task
  </div>
  <div class="card-body">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit" class="btn btn-primary m-3" value="Save"><i class="bi bi-pencil-square"></i> Update</button>
    </form>
  </div>
</div>

<a href="{% url 'index' %}"><p class="btn btn-warning "><i class="fa-solid fa-arrow-left-long"></i> Go back</p></a>

{% endblock %}